*{
    font-size: 10pt;
}
body{
    background-color: #c7c7c7;
    font-family: 'Montserrat', sans-serif;
}
section, article{
    padding: 0;
    margin: 0;
}
p, li{
    font-size: 10pt;
}

footer{
    font-size: 8pt;
}
.btn-rounded{
    border-radius: 25px;
}