*{
    font-size: 10pt;
}
body{
    background-color: #c7c7c7;
    font-family: 'Montserrat', sans-serif;
}
section, article{
    padding: 0;
    margin: 0;
}
p, li{
    font-size: 10pt;
}

footer{
    font-size: 8pt;
}
.btn-rounded{
    border-radius: 25px;
}
.btn-shadow{
    box-shadow: 2px 2px 13px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 2px 13px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 13px 6px rgba(0,0,0,0.2);
}
.display-none{
    display: none;
}

.cart-icon-inline{
    background-color: rgba(0, 0, 0, 0.2);
    color: #4e4e4e;
    border: 2px dashed #b2b2b2;
    border-radius: 30px;
    padding: 4px 20px;
    cursor: pointer;
}
.cart-icon-inline:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: #c4c4c4;
    border: 2px dashed #c7c7c7;
}
.cart-icon-inline img{
    width: 24px;
}

.cart-icon-fixed{
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 40px;
    padding: 16px;
    color:inherit;

    position: fixed;
    right:  24px;
    bottom: 24px;
    box-shadow: 2px 2px 44px 32px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 2px 44px 32px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 2px 44px 32px rgba(0,0,0,0.45);
}
.cart-icon-fixed:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.cart-icon-fixed img{
    width: 32px;
}

.cart-icon-fixed span{
    background-color: rgba(211, 211, 211, 1);
    text-align: center;
    width: 28px;
    border-radius: 28px;
    padding: 4px;
    position: absolute;
    top:   0px;
    right: 0px;
} 


#usuarioRegistrado{
    /* border: 1px dashed rgba(0, 0, 0, 0.8); */
    min-width: 50px;
    margin: 10px 0px;
    padding: 0;
}
#usuarioRegistrado:hover{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2); 
}